@font-face {
	font-family: Gotham;
	src: url(../fonts/GothamLight.woff);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Gotham;
	src: url(../fonts/GothamBook.woff);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Gotham;
	src: url(../fonts/GothamMedium.woff);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Gotham;
	src: url(../fonts/GothamBold.woff);
	font-weight: 700;
	font-style: normal;
}

