header.header{
    nav{
        max-width: 1360px;
        margin: 0 auto;
    }
    .navbar{
        display: grid;
        grid-template-columns: 1fr 5fr 4fr 2fr 1fr;
        &__list{
            @include flexbox();
            list-style: none;
            justify-content: space-around;
        }
        &__item{
            @include flexbox();
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            a{
                letter-spacing: 0.4px;
                @include link-text(12px,600,uppercase);
            }
        }
    }
    .logo{
        border-right: 1px solid $borders;
    }



    // burger hide for big screen



}