button {
	border: 0;
	border-radius: 0;
	background: none;
	@include d-flex;
	cursor: pointer;

	/* The slow way */
.make-it-slow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.make-it-slow:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
	

	&.send {
		width: 32px;
		height: 32px;
		// left: calc(50% - 32px/2 + 214px);
		// top: 197px;
		background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
		border-radius: 4px;
		transition: 200ms;
		box-shadow: none;
		transition: box-shadow 0.3s ease-in-out;
		margin-left: 22px;
		&:hover{
			box-shadow: 2px 1px 3px rgba(0,0,0,0.3);
			svg{
				opacity: 1;
				// fill: #fff;
				path{
					stroke: #fff;
					stroke-width: 2px;
				}
			}
		}
		svg{
			opacity: 0.5;
			// fill: #fff;
			path{
				stroke: #fff;
				stroke-width: 2px;
			}
		}
	}
	&.file,
	&.image,
	&.video {
		width: 32px;
		height: 32px;
		border-radius: 4px;
		transition: 200ms;
		box-shadow: none;
		transition: box-shadow 0.3s ease-in-out;
		margin-left: 22px;

		&:hover{
			background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
			box-shadow: 2px 1px 3px rgba(0,0,0,0.3);
			svg>g{
				opacity: 1;
				// fill: #fff;
				path{
					stroke: #fff;
					stroke-width: 2px;
				}
			}
		}
	}

	&.btn-connection{
		border: 1px solid #0E6795;
		transition: box-shadow 0.3s ease-in-out;

		&:hover{
			background: linear-gradient(#0077B5,#31a2df);
			box-shadow: 0 5px 15px rgba(0,0,0,0.3);
		}
	}
}